<h3>About me</h3>
<p>My name is Jules Thévenet, I'm a web/software developer.<br> I've been lucky enough to work on complex projects with experimented teams for large organisations (Caisse des Dépôts, Accor, Ratp).</p>
<p>I'm self taught, used to the unknown, acquire new skills and start new projects. I value writing code which is easy to read and to maintain while respecting the SOLID principles and clean code.</p>
<p>I support teams with the Java and Java/Angular applications :</p>
<ul>
    <li>Application creation</li>
    <li>Add new features</li>
    <li>Analyze and correct bugs</li>
    <li>Unit tests</li>
    <li>Analyze logs</li>
    <li>Onboard new comers</li>
    <li>Facilitate meetings</li>
    <li>Code review</li>
    <li>Write documentation</li>
</ul>
